/* Regular variable font */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/pink/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700; /* range supported by the variable font */
  font-style: normal;
  font-display: swap;
}

/* Italic variable font */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/pink/fonts/Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

/* Regular variable font */
@font-face {
  font-family: "Merriweather";
  src: url("/pink/fonts/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 700; /* range supported by the variable font */
  font-style: normal;
  font-display: swap;
}

/* Italic variable font */
@font-face {
  font-family: "Merriweather";
  src: url("/pink/fonts/Merriweather/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

/* Regular variable font */
@font-face {
  font-family: "Montserrat";
  src: url("/pink/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700; /* range supported by the variable font */
  font-style: normal;
  font-display: swap;
}

/* Italic variable font */
@font-face {
  font-family: "Montserrat";
  src: url("/pink/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}
