html {
  --background: #F2F2F2;
  --primary: #F48FB1;
  --secondary: #FBE4EC;
  --tertiary: #b13369;
  --accent: #da8e00;
  --neutral: #e5e5e5;
  --surface-light: #e8e8e8;
  --soft-black-text: #181818;
  --indicator-accent: #83abff;
  --icon-gray: #575757;
  font-family: "Cormorant Garamond";
}

body {
  margin: 0;
  background-color: var(--background);
  min-height: 100dvh;
  overflow-x: hidden;
}